APP_NAME=sales-service
APP_VERSION=0.1.0
DEBUG=true
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/stocksync_sales
DB_ECHO=false
REDIS_URL=redis://localhost:6379/0
CATALOG_SERVICE_URL=http://localhost:8001
SYNC_SERVICE_URL=http://localhost:8002
